.progresso{
    height: 50px;
    padding: 5px;
    display: flex;
    margin: 20px;

    --progress: 84;
    width: calc(var(--progress) * 1%);
    background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
    
    animation-name: evolucao;
    animation-duration: 10s;
    animation-timing-function: linear;
}
.progresso p{
    color:white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#animacao a{
    text-decoration: none;
}

@keyframes evolucao{
    from{
        width: 1%;
        background-color: hsl( 1.2 , 80%, 50%);
    }
    to{
        width: 42%;
        background-color: hsl( 100.8 , 80%, 50%);
        
    }
}
